---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="EasySource">
	
	<script>
	import "../scripts/search.js";
	import "../pages/toastr.css";
	import "../scripts/jquery.js";
	import "../scripts/toastr.js";

	
	$( document ).ready(function() {
	
		toastr.success('Loaded Website Database');
	
	});
	</script>

	<main>
	
		<h1>EasySource</h1>
		<p><i>Find Easy Citations & Reputable Sources from a Localhosted Database!</i></p>
		<p><strong>Input URL Below</strong></p>
		<form id="searchForm">
			<input type="text" id="search" class="search" />
		</form>
	
	</main>
</Layout>

<style>
	main {
		margin: auto;
		margin-top: 10vh;
		padding: 1.5rem;
		max-width: 100ch;
		text-align: center;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	input {
		width: 40em;
		border: 1px solid black;
		border-radius: 10px;
		padding: 10px;
	}
	input:focus {
		outline: none;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
